---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: postgres-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      name: postgres-container
  template:
    metadata:
      labels:
        name: postgres-container
    spec:
      containers:
        - name: postgres-container
          image: postgres:9.6
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - mountPath: /db-data
              name: postgres-volume
      volumes:
        - name: postgres-volume
          awsElasticBlockStore:
            volumeID: vol-0a87e17331c9a6dea

        # - name: postgres-pv
        #   persistentVolumeClaim:
        #     claimName: postgres-pvc